html,head,body { padding:0; margin:0; }
body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 95%;
}
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
}
h2 {
  margin: 1em 0;
  font-size: 1.5em;
  border-bottom: solid 1px;
  font-weight: normal;
  clear: both;
}
ul {
  list-style-type: none;
}
a {
  color: #444;
  text-decoration: none;
}
.contents-item {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.contents-item-link:hover::before {
  color:
}
.header {
  margin: 1em 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: rgba(255,255,255,0.9);
  border-bottom: solid 1px #000;
  /*position: fixed;
  left: 0;
  right: 0;
  z-index: 1;*/
}
.body {
  /*margin-top: 3em;*/
}
.container {
  width: 80%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.repository {
  margin: -5px;
  display: flex;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.repository-card {
  list-style-type: none;
  padding: 16px;
  border: solid 1px #d1d5da;
  border-radius: 3px;
  width: calc(50% - 10px);
  box-sizing: border-box;
  margin: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #586069;
}
.repository-card-name {
  color: #0366d6;
}
.repository-card-name:hover {
  text-decoration: underline;
}
.repository-card-description {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.repository-card-stats {
  display: flex;
  font-size: 12px;
}
.repository-card-stats-icon {
  fill: currentColor;
}
.repository-card-stats-language {

}
.repository-card-stats-language-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #60B5CC;
}
/*.repository-card-stats-language-color-elm {
  background-color: #60B5CC;
}*/
.repository-card-stats-stargazers {
  margin-left: 16px;
}
.repository-card-stats-stargazers:hover {
  color: #0366d6;
}
.repository-card-stats-forks {
  margin-left: 16px;
}
.repository-card-stats-forks:hover {
  color: #0366d6;
}


.paintings-container {
  display: flex;
  justify-content: space-between;
  /*margin-bottom: 5px;*/
}
.paintings-container.paintings-container-single > div {
  width: 100%;
}
.paintings-container.paintings-container-single > div > img {
  width: 100%;
}
.paintings-container.paintings-container-small .paintings-image {
  height: 150px;
}
.paintings-image {
  max-width: 100%;
  vertical-align: bottom;
}
