html,head,body { padding:0; margin:0; }
body {
  font-family: 'Noto Sans Japanese', sans-serif;
}
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
}
h2 {
  margin: 1em 0;
  font-size: 1.5em;
  border-bottom: solid 1px;
}
ul {
  list-style-type: none;
}
a {
  color: #444;
  text-decoration: none;
}
.contents-item {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.contents-item-link:hover::before {
  color:
}
.header {
  margin: 1em 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: rgba(255,255,255,0.9);
  border-bottom: solid 1px #000;
  /*position: fixed;
  left: 0;
  right: 0;
  z-index: 1;*/
}
.body {
  /*margin-top: 3em;*/
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
