html, head, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 95%;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
  margin: 1.5em 0 1em;
  font-size: 1.5em;
  border-bottom: solid 1px;
  font-weight: normal;
  clear: both;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: #469;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.body {
  margin-top: 2em;
}

.introduction {
  margin-bottom: 1em;
}

h2 .introduction {
  font-size: small;
  margin-left: 3ch;
}

.container {
  width: 90%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:480px) {
  .container {
    max-width: 480px;
  }
}


/* Player */

.player-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: solid 1px #000;
}

.midi-player {
  position: relative;
  height: 180px;
  max-width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.midi-player-title {
  position: absolute;
  left: 10px;
  top: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #aaa;
}

.player-container.player-fullscreen .midi-player {
  height: 100%;
  position: fixed;
}

.midi-player-display {
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
}

.midi-player-center-line {
  border-right: solid 1px #555;
  height: 100%;
  left: 50%;
  top: 0;
  position: absolute;
}

.midi-player-control {
  width: 100%;
  max-width: 100%;
  height: 30px;
  background-color: rgb(51, 0, 17);
  display: flex;
  position: absolute;
  bottom: 0;
}

.midi-player-control-button {
  width: 40px;
  bottom: 0;
  text-align: center;
  flex-grow: 1;
}


/* Music */

.music-items {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.music-item {
  box-sizing: border-box;
  margin: 8px 4px;
  text-align: center;
  width: calc(20% - 8px);
  height: 180px;
}

@media screen and (max-width:480px) {
  .music-item {
    width: calc(33% - 8px);
  }
}

.music-item>a {
  padding: 0.5em;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.music-item.music-item-midi-and-mp3 .music-item-image {
  background-color: #786;
  color: #efd;
}

.music-item.music-item-mp3 .music-item-image {
  background-color: #678;
  color: #def;
}

.music-item.music-item-soundcloud .music-item-image {
  background-color: #876;
  color: #fed;
}

.music-item .music-item-image {
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 12px;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.4);
}

.music-item>a:active .music-item-image {
  margin-top: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.music-item.music-item-selected.music-item-midi-and-mp3 .music-item-image {
  box-shadow: 0px 2px 20px 6px rgb(190, 255, 160);
}

.music-item.music-item-selected.music-item-mp3 .music-item-image {
  box-shadow: 0px 2px 20px 6px rgb(160, 190, 255);
}

.music-item.music-item-selected.music-item-soundcloud .music-item-image {
  box-shadow: 0px 2px 20px 6px rgb(255, 190, 160);
}

.music-item-label {}

.music-item-description {
  margin-top: 8px;
  font-size: 12px;
  opacity: 0.6;
}

.music-item-description p {
  margin: 0;
}

.header {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #000;
  background: rgba(255, 255, 255, 0.5);
}

.mp3 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: #333;
}

.mp3>audio {
  display: block;
  width: 100%;
}

.soundcloud {
  position: absolute;
  display: flex;
  background-color: #333;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  align-items: center;
}

.soundcloud>iframe {
  height: 100%;
}


/* Repositories */

.repository {
  margin: -5px;
  display: flex;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.repository-card {
  list-style-type: none;
  padding: 16px;
  width: calc(33.3% - 10px);
  box-sizing: border-box;
  margin: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #ddd;
  background-color: #223;
}

@media screen and (max-width:480px) {
  .repository-card {
    width: 100%
  }
}

.repository-card-name {
  color: #cba;
}

.repository-card-name:hover {
  text-decoration: underline;
}

.repository-card-description {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.repository-card-stats {
  display: flex;
  font-size: 12px;
}

.repository-card-stats a {
  color: #ddd;
}

.repository-card-stats a:hover {
  color: #cba;
}

.repository-card-stats-icon {
  fill: currentColor;
}

.repository-card-stats-language {}

.repository-card-stats-language-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #60B5CC;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.repository-card-stats-stargazers {
  margin-left: 16px;
}

.repository-card-stats-forks {
  margin-left: 16px;
}


/* Paintings */

.paintings-container {
  display: flex;
}

.paintings-container.paintings-container-small .paintings-image {
  max-height: 200px;
}

.paintings-image {
  max-width: 100%;
  vertical-align: bottom;
}


/* Links */

.links {
  margin-bottom: 200px;
}

.links-item {
  margin: 1em 0;
}
